body {
    background-color: white;
}

div#container {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 3fr 1fr;
    grid-template-areas: 
    'menuBar menuBar'
    "main main"
    "article1 aside"
    "article3 article3"
    "toto toto";
    height: 150vh;
    margin: 5px;
}

header.navBar {
    background-color: grey;
    grid-area: menuBar;
    display: flex;
}

div.navigation {
    background-color: #0065FC;
    display: flex;
}

div.hybride {
    background-color: blue;
    display: flex;
    flex-grow: 2;
}

main.main {
    background-color: red;
    grid-area: main;
}

main.main h1 {
    background-color: yellow;
    margin-top: 0;
    margin-bottom: 0;
}

main.main p {
    background-color: tomato;
    margin-top: 0;
    margin-bottom: 0;
}

div.search{
    background-color: goldenrod;
    display: flex;
}

div.filters {
    background-color: aqua;
    display: flex;
}

div.blocFilters {
    background-color: plum;
    display: flex;
}

div.info {
    background-color: springgreen;
    display: flex;
}

article.article1 {
    background-color: green;
    grid-area: article1;
    margin: 15px;
    border-radius: 15px;
}

div.imgCard1{
    background-color: yellow;
}

div.textCard1 {
    background-color: brown;
}


article.article1 h2 {
    margin-top: 0;
    margin-bottom: 0;
}

div.containerCards1 {
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.card1 {
    border: 3px solid black; 
    border-radius: 5px;
}

aside.article2 {
    background-color: #694949;
    grid-area: aside;
    margin: 15px;
    border-radius: 15px;
}

div.titleArticle2 {
    background-color: #0065FC;
    display: flex;
    flex-grow: 2;
}

div.hybride2 {
    background-color: white;
    display: flex;
    flex-grow: 2;
}

div.imgCard2 {
    background-color: yellow;
}

div.textCard2 {
    background-color: brown;
}


aside.article1 h2 {
    margin-top: 0;
    margin-bottom: 0;
}

div.containerCards2 {
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

div.card2 {
    border: 3px solid black; 
    border-radius: 5px;
    display: flex;
}

article.article3 {
    background-color: rgb(136, 180, 238);
    grid-area: article3;    
}

article.article3 h2 {
    background-color: #0065FC;
}

div.containerCard3 {
    background-color: pink;
    display: flex;
}

div.blocCard3 {
    background-color: greenyellow;
    display: flex;
}

div.card3 {
    background-color: darkgreen;
    border: 3px solid black;
}

div.imgCard3 {
    background-color: yellow;
}

div.textCard3 {
    background-color: brown;
}

div.blocCard323 {
    background-color: red;
    flex-direction: column;
}

div.card32 {
    background-color: rgb(0, 238, 255);
    border: 3px solid black;
}

div.card33 {
    background-color: blueviolet;
    border: 3px solid black;
}

div.blocCard356 {
    background-color: crimson;
    flex-direction: column;
}

div.card35 {
    background-color: goldenrod;
    border: 3px solid black;
}

div.card36 {
    background-color: blueviolet;
    border: 3px solid black;
}

footer.basDePage {
    background-color: #F2F2F2;
    grid-area: toto;
    
}

footer.basDePage {
    background-color: #F2F2F2;
    grid-area: toto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

div.footer-col {
    background-color: hotpink;
}

div.footer-col a {
    color: black;
    text-decoration: none;
}


/* mon format tablette*/
@media screen and (max-width: 992px) {
    header.navBar {
        background-color: springgreen;
    }
}

/* mon format mobile */
@media screen and (max-width: 768px) {

    div#container {
        background-color: blue;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'menuBar'
        "main"
        "aside"
        "article1"
        "article3"
        "toto";
        height: 100vh;
    }

    header.navBar {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    article.article1 {
        margin: 0px;
        border-radius: 0px;
    }

    div.containerCards1 {
        background-color: pink;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    aside.article2 {
        margin: 0px;
        border-radius: 0px;
    }

    div.containerCards3 {
        background-color: pink;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    footer.basDePage {
        background-color: #F2F2F2;
        grid-area: toto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

}

