body {
    background-color: red;
    margin: 30px;
    padding: 30px;
}

div#container {
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 3fr 1fr;
    grid-template-areas: 
    'menuBar menuBar'
    "main main"
    "article1 aside"
    "article3 article3"
    "toto toto";
    height: 150vh;
    margin: 5px;
}

header.navBar {
    background-color: goldenrod;
    grid-area: menuBar;
    display: flex;
}

div.navigation {
    background-color: yellow;
    display: flex;
}

div.navigation1 a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 31px;
    font-family: 'Raleway', sans-serif;
}

div.navigation2 a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 31px;
    font-family: 'Raleway', sans-serif;
}

div.navigation1 a:hover {
    background-color: white;
    text-decoration: none;
    color: #0065FC;
    border: 3px solid #0065FC;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 31px;
}

div.navigation2 a:hover {
    background-color: white;
    text-decoration: none;
    color: #0065FC;
    border: 3px solid #0065FC;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 31px;
}

div.hybride {
    background-color: white;
    display: flex;
    flex-grow: 2;
}

main.main {
    background-color: red;
    grid-area: main;
}

main.main h1 {
    background-color: burlywood;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Raleway', sans-serif;
}

main.main p {
    background-color: sienna;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

div.search {
    background-color: white;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.iconeMaps{
    background-color: red;
    border-radius: 15px 0 0 15px;
    width: 40px;
    height: 40px;
}

div.iconeMaps i {
    padding: 11px;
    margin: auto;
}

input[type="text"] {
    background-color: white;
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    outline: none;
    margin-left: -5px;
    padding: 0 15px;
    width: 200px;
    height: 40px;
}

input[type="submit"] {
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-left: none;
    outline: none;
    margin-left: -5px;
    padding: 0 15px;
    border-radius: 0 15px 15px 0;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #F2F2F2;
    color: #0065FC;
    border: 1px solid #F2F2F2;
}

div.iconeSearch {
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-left: none;
    outline: none;
    border-radius: 15px 15px 15px 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
}

div.iconeSearch :hover {
    background-color: #F2F2F2;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-left: none;
    outline: none;
    border-radius: 15px 15px 15px 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
}

div.iconeSearch i {
    padding: 11px;
    margin: auto;
}

div.filters {
    background-color: rgb(179, 255, 0);
    display: flex;
    align-items: center;
}

div.blocFilters {
    background-color: plum;
    display: flex;
    margin-bottom: 10px;
}

div.blocFilters1 {
    background-color: blue;
    display: flex;
}

div.blocFilters2 {
    background-color: lightgreen;
    display: flex;
}

div.filters p {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

div.buttonFilters {
    background-color: red;
    border: 1px solid #F2F2F2;
    display: flex;
    margin: 15px;
    width: auto;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
}

div.buttonFilters :hover{
    background-color: blue;
    border-radius: 20px 20px 20px 20px;
}

div.iconeFilters {
    background-color: yellow;
    border-radius: 20px 20px 20px 20px;
    width: 40px;
    height: 40px;
}


div.iconeFilters i {
    color: #0065FC;
    padding: 11px;
    margin: auto;
}

div.info {
    background-color: pink;
    display: flex;
}


div.iconeInfo {
    background-color: greenyellow;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
}

div.iconeInfo i {
    padding: none;
    margin: auto;
}

div.info p {
    background-color: grey;
    font-family: 'Raleway', sans-serif;
}

article#article1 {
    background-color: green;
    grid-area: article1;
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
}

article#article1 h2 {
    background-color: mediumpurple;
    margin-top: none;
    margin-bottom: 5;
    font-family: 'Raleway', sans-serif;
}

div.containerCards1 {
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.card1 {
    background-color: coral;
    border: 3px solid black; 
    border-radius: 5px;
    width: 90%;
    height: 250px;
    margin-bottom: 30px;
    padding: 5px;
    margin: 5px;
}

div.imgCard1{
    background-color: yellow;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

div.textCard1 {
    background-color: brown;
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
}

div.textCard1 h3 {
    background-color: greenyellow;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

div.textCard1 p {
    background-color: rgb(219, 111, 165);
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}


div.iconeCard1 {
    background-color: rgb(116, 221, 235);
}

div.iconeCard1 i {
    font-size: 10px;
}

div.iconeCard1 i.none {
    color: gray;
}

article.article1 h3 a {
    background-color: yellow;
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

aside.article2 {
    background-color: #694949;
    grid-area: aside;
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
}

div.titleArticle2 {
    background-color: none;
    display: flex;
    flex-grow: 2;
}

div.titleArticle2 h2 {
    background-color: red;
    margin-top: none;
    margin-bottom: none;
    font-family: 'Raleway', sans-serif;
}

div.hybride2 {
    background-color: white;
    display: flex;
    flex-grow: 2;
}

div.titleArticle2 i {
    padding: 11px;
    margin: auto;
}

div.containerCards2 {
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

div.card2 {
    border: 3px solid black; 
    border-radius: 5px;
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

div.imgCard2 {
    background-color: yellow;
    width: 35%;
    margin: 5px;
}

div.textCard2 {
    background-color: brown;
    width: 65%;
}

div.textCard2 h3 {
    background-color: green;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}

div.textCard2 p {
    background-color: blue;
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
}

div.iconeCard2 {
    background-color: yellow;
}

div.iconeCard2 i {
    font-size: 10px;
}

div.iconeCard2 i.none {
    color: gray;
}

article#article3 {
    background-color: rgb(136, 180, 238);
    grid-area: article3;
}

article#article3 h2 {
    background-color: #0065FC;
    margin-top: none;
    margin: 15px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
}

div.containerCard3 {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
}

div.blocCard3 {
    background-color: greenyellow;
    display: flex;
    margin: 10px;
    padding: 10px;
}

div.card3 {
    background-color: darkgreen;
    border: 3px solid black;
    width: 255px;
    height: 440px;
}

div.blocCard323 {
    background-color: red;
    flex-direction: column;
    padding-left: 40px;
}

div.card32 {
    background-color: rgb(0, 238, 255);
    border: 3px solid black;
    width: 255px;
    height: 233px;
}

div.card33 {
    background-color: blueviolet;
    border: 3px solid black;
    width: 255px;
    height: 161px;
    margin-top: 40px;
}

div.blocCard356 {
    background-color: crimson;
    flex-direction: column;
    padding-left: 40px;
}

div.card35 {
    background-color: goldenrod;
    border: 3px solid black;
    width: 255px;
    height: 191px;
}

div.card36 {
    background-color: blueviolet;
    border: 3px solid black;
    width: 255px;
    height: 205px;
    margin-top: 38px;
}

div.imgCard3 {
    background-color: yellow;
    width: 100%;
    height: 90%;
}

div.textCard3 {
    background-color: brown;
    width: 100%;
    height: 10%;
    margin: 0px;
    padding: 0px;
}

div.textCard3 h3 {
    background-color: yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 5px;
    padding-top: 10px;
}


div.imgCard32 {
    background-color: yellow;
    width: 100%;
    height: 80%;
}

div.textCard32 {
    background-color: brown;
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}

div.textCard32 h3 {
    background-color: yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 5px;
    padding-top: 10px;
}

div.imgCard33 {
    background-color: yellow;
    width: 100%;
    height: 80%;
}

div.textCard33 {
    background-color: brown;
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}

div.textCard33 h3 {
    background-color: yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 5px;
    padding-top: 10px;
}

div.imgCard34 {
    background-color: yellow;
    width: 100%;
    height: 80%;
}

div.textCard34 {
    background-color: brown;
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}

div.textCard34 h3 {
    background-color: yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 5px;
    padding-top: 10px;
}

div.imgCard35 {
    background-color: yellow;
    width: 100%;
    height: 80%;
}

div.textCard35 {
    background-color: brown;
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}

div.textCard35 h3 {
    background-color: yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 5px;
    padding-top: 10px;
}

div.imgCard36 {
    background-color: yellow;
    width: 100%;
    height: 80%;
}

div.textCard36 {
    background-color: brown;
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}

div.textCard36 h3 {
    background-color: yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 5px;
    padding-top: 10px;
}

footer.basDePage {
    background-color: #F2F2F2;
    grid-area: toto;
    
}

footer.basDePage {
    background-color: #F2F2F2;
    grid-area: toto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

div.footer-col {
    background-color: hotpink;
}

div.footer-col h3 {
    background-color: yellow;
    font-family: 'Raleway', sans-serif;
}

div.menuFooter {
    display: grid;
}

div.menuFooter a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}


/* mon format tablette*/
@media screen and (max-width: 992px) {
    header.navBar {
        background-color: springgreen;
    }

    div.containerCards1 {
        background-color: pink;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    div.card1 {
        background-color: coral;
        border: 3px solid black; 
        border-radius: 5px;
        width: 90%;
        height: 250px;
        margin-bottom: 15px;
        padding: 5px;
    }
    
    div.imgCard1{
        background-color: yellow;
        width: 100%;
        height: 120px;
        border-radius: 15px 15px 0 0;
    }
    
    div.textCard1 {
        background-color: brown;
        width: 100%;
        height: 80px;
        margin: 0px;
        padding: 0px;
    }
}

/* mon format mobile */
@media screen and (max-width: 768px) {

    body {
        background-color: red;
        margin: 0;
        padding: 0;
    }

    div#container {
        background-color: blue;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'menuBar'
        "main"
        "aside"
        "article1"
        "article3"
        "toto";
        height: 100vh;
    }

    header.navBar {
        background-color: purple;
        display: grid;
        align-items: center;
    }

    header.navBar img {
        background-color: white;
        display: block;
        margin: auto;
        padding-bottom: 10px;
    }

    div.navigation {
        background-color: blue;
        justify-content: center;
        margin: 10px;
        padding: 10px;
    }

    div.navigation1 a {
        background-color: pink;
        text-decoration: none;
        color: #0065FC;
        padding: 10px;
    }
    
    div.navigation2 a {
        background-color: yellowgreen;
        text-decoration: none;
        color: #0065FC;
        padding: 10px;
    }

    div.navigation1 a:hover {
        background-color: red;
        text-decoration: none;
        border: 3px solid #0065FC;
        color: #0065FC;
        border-top: none;
        border-right: none;
        border-left: none;
        padding: 10px;
    }

    div.navigation2 a:hover {
        background-color: yellow;
        text-decoration: none;
        border: 3px solid #0065FC;
        color: #0065FC;
        border-top: none;
        border-right: none;
        border-left: none;
        padding: 10px;
    }

    input[type="submit"] {
        display: none;
    }

    div.iconeSearch {
        display: block;
    }
   
    div.filters {
        background-color: plum;
        align-items: center;
        display: grid;
    }

    div.blocFilters {
        background-color: grey;
        flex-direction: column;
    }

    div.blocFilters1 {
        background-color: red;
        display: flex;
    }

    div.blocFilters2 {
        background-color: lightgreen;
        flex-direction: column;
    }

    div.buttonFilters {
        background-color: blue;
    }
    

    article#article1 {
        background-color: green;
        grid-area: article1;
        border-radius: 15px;
        margin: 0;
        padding: 0;
    }

    div.containerCards1 {
        background-color: pink;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 15px;
        margin: 15px;
    }

    div.card1 {
        background-color: coral;
        border: 3px solid black; 
        border-radius: 5px;
        width: 96%;
        height: 250px;
        
    }
    
    div.imgCard1{
        background-color: yellow;
        width: 100%;
        height: 120px;
    }
    
    div.textCard1 {
        background-color: brown;
        width: 100%;
        height: 80px;
    }

    aside.article2 {
        margin: 0px;
        border-radius: 0px;
    }

    div.containerCard3 {
        background-color: red;
        display: grid;
    }

    div.blocCard3 {
        background-color: greenyellow;
        display: grid;
    }
    
    div.card3 {
        background-color: darkgreen;
        border: 3px solid black;
        width: 100%;
        height: 250px;
        margin-bottom: 40px;
    }

    div.blocCard323 {
        padding-left: 0px;
    }
    
    div.card32 {
        background-color: rgb(0, 238, 255);
        border: 3px solid black;
        width: 100%;
        height: 250px;
    }
    
    div.card33 {
        background-color: blueviolet;
        border: 3px solid black;
        width: 100%;
        height: 250px;
    }

    div.blocCard356 {
        padding-left: 0px;
    }
    
    div.card35 {
        background-color: goldenrod;
        border: 3px solid black;
        width: 100%;
        height: 250px;
    }
    
    div.card36 {
        background-color: blueviolet;
        border: 3px solid black;
        width: 100%;
        height: 250px;
    }
    
    footer.basDePage {
        background-color: #F2F2F2;
        grid-area: toto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

}

