body {
    background-color: aqua;
}

div#container {
    background-color: blue;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 3fr 1fr;
    grid-template-areas: 
    'menuBar menuBar'
    "main main"
    "article1 aside"
    "article3 article3"
    "toto toto";
    height: 150vh;
    margin: 5px;
}

header.navBar {
    background-color: darkorange;
    grid-area: menuBar;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    color: black;
    text-decoration:none;
}

nav ul li a:hover{
    color: blue;
}

main.main {
    background-color: yellow;
    grid-area: main;
}

.filtres{
    display: flex;
}

.filtres button{
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    margin: 10px;
    margin-top: 18px;
    height: 10%;
}

article.article1 {
    background-color: red;
    grid-area: article1;
    margin: 15px;
    border-radius: 15px;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}


.art {
    background-color: white;
    border: 2px solid black;
    margin: 15px;
    border-radius: 15px;
}

aside.article2 {
    background-color: violet;
    grid-area: aside;
    margin: 15px;
    border-radius: 15px;
}

.art_aside{
    background-color: white;
    border: 2px solid black;
    margin: 15px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
}


article.article3 {
    background-color: wheat;
    grid-area: article3;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);       
}

.box1, .box2, .box3, .box4, .box5, .box6{
    background-color: white;
    border: 2px solid black;
    margin: 15px;
    border-radius: 15px;
}

footer.basDePage {
    background-color: yellowgreen;
    grid-area: toto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.footer-col{
    margin: auto;
}

.footer-col p a{
    color: black;
    text-decoration: none;
}


/* mon format tablette*/
@media screen and (max-width: 900px) {
    header.navBar {
        background-color: springgreen;
    }
}

/* mon format mobile */
@media screen and (max-width: 800px) {

    div#container {
        background-color: blue;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        'menuBar'
        "main"
        "aside"
        "article1"
        "article3"
        "toto";
        height: 100vh;
    }

    header.navBar {
        background-color: orchid;
    }

    article.article1 {
        margin: 0px;
        border-radius: 0px;
    }

    aside.article2 {
        margin: 0px;
        border-radius: 0px;
    }
    

}

